@import url('https://fonts.googleapis.com/css?family=Bangers|Roboto:400,500|Fugaz+One');
@import url('https://use.typekit.net/nkq8bfq.css');
html {
  box-sizing: border-box;
}
html *,
  html *:before,
  html *:after {
    box-sizing: inherit;
  }
html {
    margin: 0;
    padding: 0;
    font-family: sofia-pro, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 100%;
    min-height: 100vh;
    color: #051d32;
  }
html body {
    margin: 0;
    padding: 0;
    font-family: sofia-pro, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    width: 100%;
    min-height: 100vh;
    color: #051d32;
  }
@media (max-width: 500px) {

html,
  html body {
      font-size: 14px
  }
    }
html.inverted {
      background-color: #051d32;
      color: white;
    }
html body.inverted {
      background-color: #051d32;
      color: white;
    }
html #root {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    width: 100%;
  }
html h1 {
    margin-bottom: 0;
    font-family: sofia-pro, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
html h2 {
    margin-bottom: 0;
    font-family: sofia-pro, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
html h3 {
    margin-bottom: 0;
    font-family: sofia-pro, Roboto, "Helvetica Neue", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
html h1 {
    font-size: 3rem;
    text-align: center;
    line-height: 3.5rem;

  }
html h2 {
    font-size: 1.5rem;
    margin-top: 0;
    line-height: 1.5rem;
  }
html h3 {
    font-size: 1rem;
  }
html small {
    font-size: 0.7rem;
    font-weight: 200;
  }
html textarea,
  html select,
  html input,
  html button {
    outline: none;
  }
