:root {
  --sofiaProFontFamily: sofia-pro, Roboto, "Helvetica Neue", sans-serif;
  --robotoFontFamily: Roboto, "Helvetica Neue", sans-serif;
  --fugazOneFontFamily: "Fugaz One", sofia-pro, Roboto, "Helvetica Neue", sans-serif;
  --darkColor: #051d32;
  --redColor: #951212;
  --greenColor: #5cc112;
  --yellowColor: #c1b712;
}